Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [9]:
df['created'] = pd.to_datetime(df['created'])
df.sort_values(by=['created'], inplace=True)
print(df.shape)
df.tail()

(48817, 34)

       bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
19943        1.0         2  ...                 0                    0
16801        1.0         1  ...                 0                    0
32633        1.0         1  ...                 0                    0
20560        1.0         3  ...                 0                    0
17743        1.0         3  ...                 0                    0

[5 rows x 34 columns]

###Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.

In [7]:
start_date = '2016-04-01'
end_date = '2016-05-31'
traindate = (df['created'] >= start_date) & (df['created'] <= end_date)
train = df.loc[traindate]
print(train.shape)
train.head()

(31839, 34)

      bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
5186        1.0         1  ...                 0                    0
7945        1.0         0  ...                 0                    0
6424        2.0         3  ...                 0                    1
7719        1.0         1  ...                 0                    1
1723        1.0         1  ...                 0                    0

[5 rows x 34 columns]

In [10]:
start_date = '2016-06-01'
end_date = '2016-06-30'
testdate = (df['created'] >= start_date) & (df['created'] <= end_date)
test = df.loc[testdate]
print(test.shape)
test.head()

(16973, 34)

       bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
11474        1.0         1  ...                 0                    0
19176        1.0         1  ...                 0                    0
16226        1.0         2  ...                 0                    0
37756        1.0         0  ...                 0                    0
17946        1.0         2  ...                 0                    0

[5 rows x 34 columns]

In [0]:
target = 'price'
y_train = train[target]
y_test = test[target]

In [22]:
# Train Error
guess = y_train.mean()
from sklearn.metrics import mean_absolute_error
y_pred = [guess] * len(y_train)
mae = mean_absolute_error(y_train, y_pred)
print(f'Baseline currently off by ${mae: ,.2f} for New York apartment rent.')

Baseline currently off by $ 1,201.97 for New York apartment rent.

In [23]:
# Test Error
y_pred = [guess] * len(y_test)
mae = mean_absolute_error(y_test, y_pred)
print(f'Baseline currently off by ${mae: ,.2f} for New York apartment rent.')

Baseline currently off by $ 1,197.75 for New York apartment rent.

### * Stretch: Baseline w/ DummyReg

In [15]:
# I want to learn how to use this more I'm not sure if this would be the correct implementation

# from sklearn.dummy import DummyRegressor
# target = 'price'
# y_train = train[target]
# y_pred = test[target]

# dum_mean = DummyRegressor(strategy='mean')
# dum_mean.fit(train, y_train)
# dum_mean.predict(train)

array([3575.73774302, 3575.73774302, 3575.73774302, ..., 3575.73774302,
       3575.73774302, 3575.73774302])

In [17]:
# dum_mean.score(train, y_train)

0.0

### Engineer at least two new features. (See below for explanation & ideas.)